[Unit]
Description=MediaMTX RTSP/RTMP/HLS server
After=network.target

[Service]
Type=simple
User=root
Group=root
PIDFile=/run/logger.pid
ExecStart=/usr/bin/nodeminder -c /etc/logger/logger.yaml
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=always
RestartSec=30s
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target

