[Unit]
Description=FluxionWatt data acquisition and monitoring Agent
After=network.target

[Service]
Type=forking
User=root
Group=root
PIDFile=/run/gridbeat.pid
Environment="conffile=/etc/gridbeat/gridbeat.yaml"
EnvironmentFile=-/etc/sysconfig/gridbeat
ExecStart=/usr/sbin/gridbeat server -c ${conffile} -d
ExecReload=/bin/sh -c "/bin/kill -s HUP $(/bin/cat /run/gridbeat.pid)"
ExecStop=/bin/sh -c "/bin/kill -s TERM $(/bin/cat /run/gridbeat.pid)"
Restart=always
RestartSec=30s
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
